<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
	</head>
	<body>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>ForThree #43</h1>
			<p>Meet your crew!</p>
		</div>
	</div>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">43ForThree</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}" class="active">Home</a></li>
					<li><a th:href="@{/games}">Games</a></li>
					<li><a th:href="@{/users}">Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/me}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<ul>
				<li th:each="game : ${lastGames}">
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<div class="caption">
							<h4 class="pull-right" th:text="${game.price}">Cena</h4>
							<h4><a th:href="@{/games/{id}(id=${game.id})}" th:text="${game.address}"></a></h4>
							<p th:text="${game.placeDescription}"/>
							<h4 th:text="${#temporals.format(game.dateTime, 'dd MMMM HH:mm')}"></h4>
						</div>
						<div class="ratings">
	                    	<p class="pull-right">15 reviews</p>
	                    	<p>
	                    	<span class="glyphicon glyphicon-star"></span>
	                    	<span class="glyphicon glyphicon-star"></span>
	                    	<span class="glyphicon glyphicon-star"></span>
	                    	<span class="glyphicon glyphicon-star"></span>
	                    	<span class="glyphicon glyphicon-star"></span>
	                   		</p>
	                    </div>
					</div>
				</div>
				</li>
			</ul>
		</div>
	</div>
	</body>
</html>