<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/login.css}" href="/css/login.css" type="text/css" rel="stylesheet" />
	</head>
	<body>

	<div class="container">
	
		<form th:action="@{/login}" method="post" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" id="inputUsername" th:placeholder="Username" name="username" class="form-control" th:required="required"/>
			
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" th:placeholder="Password" name="password" class="form-control" th:required="required"/>

			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember-me">Remember me</input>
				</label>
			</div>
			<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
			<div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">error</div>
		</form>
	</div>
	<div class="container">
		<form th:action="@{/resetPassword}" class="form-signin">
		<h5 class="form-signin-heading">Did your password went away? Bring it back!</h5>
			<button type="submit" class="btn btn-lg btn-primary btn-block">Res</button>
		</form>
	</div>
</body>
</html>