<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/registration.css}" href="/css/registration.css" type="text/css" rel="stylesheet" />
		<meta charset="UTF-8"></meta>
		<style>
			p {
				margin: 0;
			}
		</style>
	</head>
	<body>

		<div class="container">
			<form action="#" th:action="@{/registration}" th:object="${userForm}" method="post" class="form-horizontal">
				<h2 class="form-heading">Registration Form</h2>
				<div class="form-group">
					<label for="username" class="col-sm-3 control-label">Username</label>
					<div class="col-sm-9">
						<input type="text" id="username" th:field="*{username}" th:placeholder="Username" class="form-control" th:autofocus="true"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
					</div>
				</div>		
				<div class="form-group">
					<label for="password" class="col-sm-3 control-label">Password</label>
					<div class="col-sm-9">
						<input type="password" id="password" th:field="*{password}" th:placeholder="Password" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>					
					</div>
				</div>
				<div class="form-group">
					<label for="passwordConfirm" class="col-sm-3 control-label">Confirm Password</label>
					<div class="col-sm-9">
						<input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" th:placeholder="|Password Confirm|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<input type="email" id="email" th:field="*{email}" th:placeholder="Email" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>					
					</div>
				</div>
				<div class="form-group">
					<label for="birthday" class="col-sm-3 control-label">Birthday</label>
					<div class="col-sm-9">
						<input type="date" id="birthday" th:field="*{birthday}" th:placeholder="Birthday" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"/>					
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-block">Register</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>