<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
        <link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">43ForThree</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}" class="active">Home</a></li>
						<li><a th:href="@{/games}">Games</a></li>
						<li><a th:href="@{/users}">Users</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/me}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p class="lead" th:text="${game.address}"/> <!-- NAZWA GRY -->
					<div class="list-group">
						<a th:href="@{/games/{gameId}(gameId=${game.id})}" class="list-group-item active">Summary</a>
	                    <a th:href="@{/games/{gameId}/players(gameId=${game.id})}" class="list-group-item">Players</a>
	                    <a href="#" class="list-group-item">Small Talk</a>
	                </div>
	            </div>
	            
	            <div class="col-md-9">
	            	<div class="thumbnail">
	            		<img class="img-responsive" src="http://placehold.it/800x300" alt=""/>
	            		<div class="caption-full">
	            			<h4 class="pull-right">How much? <span th:text="${game.price}" /> PLN</h4>
	            			<h4>Where? <span th:text="${game.address}" /></h4>
	            			<h4>When? <span th:text="${game.dateTime}" /></h4>
	            			<h5>About:</h5>
	            			<p id="timer" class="pull-right"></p>
	            			<p th:text="${game.placeDescription}"/>
	            			<form th:action="@{/games/{gameId}/join(gameId=${game.id})}" method="post">
	            				<button th:if="${canJoin} == true" type="submit" class="btn btn-primary pull-right">Join this game!</button>
	            			</form>
	            			<div th:if="${#authentication.name == game.gameOwner.username}">
		            			<form th:action="@{/games/{gameId}/edit(gameId=${game.id})}">
		            				<button type="submit" class="btn btn-primary pull-right">Edit your game</button>
		            			</form>
		            		</div>
	            			<h4>Hurry up! Only <span th:text="${game.slots}" /> slots left!</h4>
	            		</div>
	            	</div>
	            </div>
			</div>
		</div>
		
			
	<script th:inline="javascript">
		/*<![CDATA[*/
		// Set the date we're counting down to
		var countDownDate = [[${game.getDateTimeSinceEpoch()}]]
	
		// Update the count down every 1 second
		var x = setInterval(function() {
	
	   	 // Get todays date and time
	    	var now = new Date().getTime();
	    
	    	// Find the distance between now an the count down date
	    	var distance = countDownDate - now;
	    
		    // Time calculations for days, hours, minutes and seconds
		    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	    
		    // Output the result in an element with id="demo"
		    document.getElementById("timer").innerHTML = days + "d " + hours + "h "
		    + minutes + "m " + seconds + "s ";
		    
		    // If the count down is over, write some text 
		    if (distance < 0) {
		        clearInterval(x);
		        document.getElementById("timer").innerHTML = "EXPIRED";
			}
		}, 1000);
		/*]]>*/
	</script>
	
	</body>
</html>