<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">43ForThree</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}" class="active">Home</a></li>
						<li><a th:href="@{/games}">Games</a></li>
						<li><a th:href="@{/users}">Users</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/me}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div class="row">
				<ul>
					<li th:each="game : ${page.getContent()}">
					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<div class="caption">
								<h4 class="pull-right"><span th:text="${game.price}"/> PLN</h4>
								<h4><a th:href="@{/games/{id}(id=${game.id})}" th:text="${game.address}"></a></h4>
								<h4 th:text="${#temporals.format(game.dateTime, 'dd MMMM HH:mm')}"></h4>
							</div>
							<div class="ratings">
		                    	<p class="pull-right">15 reviews</p>
		                    	<p>
		                    	<span class="glyphicon glyphicon-star"></span>
		                    	<span class="glyphicon glyphicon-star"></span>
		                    	<span class="glyphicon glyphicon-star"></span>
		                    	<span class="glyphicon glyphicon-star"></span>
		                    	<span class="glyphicon glyphicon-star"></span>
		                   		</p>
		                    </div>
						</div>
					</div>
					</li>
				</ul>
			</div>
			
			<div class="text-center">
			 	<ul class="pagination pagination-centered">
					<li th:class="${page.firstPage} ? 'disabled' : '' ">
						<span th:if="${page.firstPage}">← First</span>
						<a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0, size=${page.size})}">← First</a>
					</li>
					<li th:class="${page.hasPreviousPage} ? '' : 'disabled' ">
						<span th:if="${not page.hasPreviousPage}">«</span>
						<a th:if="${page.hasPreviousPage}" th:href="@{${page.url}(page=${page.number-2},size=${page.size})}" title="Go to previous page">«</a>
					</li>
					<li th:each="item : ${page.items}" th:class="${item.current}? 'active' : '' ">
						<span th:if="${item.current}" th:text="${item.number}">1</span>
						<a th:if="${not item.current}" th:href="@{${page.url}(page=${item.number-1},size=${page.size})}"><span th:text="${item.number}">1</span></a>
					</li>
					<li th:class="${page.hasNextPage} ? '' : 'disabled' ">
						<span th:if="${not page.hasNextPage}">»</span>
						<a th:if="${page.hasNextPage}" th:href="@{${page.url}(page=${page.number},size=${page.size})}" title="Go to next page">»</a>
					</li>
					<li th:class="${page.lastPage}? 'disabled' : '' ">
						<span th:if="${page.lastPage}">Last →</span>
						<a th:if="${not page.lastPage}" th:href="@{${page.url}(page=${page.totalPages-1},size=${page.size})}">Last →</a>
					</li>
				</ul>
			</div>
					
			<div sec:authorize="isAuthenticated()" class="text-center">
				<form th:action="@{/games/newGame}">
					<button type="submit" th:text="|New game!|" class="btn btn-primary"></button>
				</form>
			</div>
		</div>
	</body>
</html>