<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/registration.css}" href="/css/registration.css" type="text/css" rel="stylesheet" />
		<meta charset="UTF-8"></meta>
	</head>
	<body>
		<div class="container">
			<form action="#" th:action="@{/games/newGame}" th:object="${gameForm}" method="post" class="form-horizontal">
				<h2 class="form-heading">New Game Form</h2>
				<div class="form-group">
					<label for="address" class="col-sm-3 control-label">Address</label>
					<div class="col-sm-9">
						<input type="text" id="address" th:field="*{address}" th:placeholder="Address" class="form-control" th:autofocus="true"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
					</div>
				</div>		
				<div class="form-group">
					<label for="datetime" class="col-sm-3 control-label">Date and time</label>
					<div class="col-sm-9">
						<input type="datetime-local" id="datetime" th:field="*{dateTime}" th:placeholder="|Date and time|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-3 control-label">Place Description</label>
					<div class="col-sm-9">
						<input type="text" id="description" th:field="*{placeDescription}" th:placeholder="|Place description|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('placeDescription')}" th:errors="*{placeDescription}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="price" class="col-sm-3 control-label">Price</label>
					<div class="col-sm-9">
						<input type="number" step="0.50" id="price" th:field="*{price}" th:placeholder="Price" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="slots" class="col-sm-3 control-label">Slots</label>
					<div class="col-sm-9">
						<input type="number" id="slots" th:field="*{slots}" th:placeholder="|Slots available|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('slots')}" th:errors="*{slots}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-block">Add Game</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>