<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">43ForThree</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}" class="active">Home</a></li>
						<li><a th:href="@{/games}">Games</a></li>
						<li><a th:href="@{/users}">Users</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/me}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p class="lead" th:text="${game.address}"/> <!-- NAZWA GRY -->
					<div class="list-group">
						<a th:href="@{/games/{gameId}(gameId=${game.id})}" class="list-group-item">Summary</a>
	                    <a th:href="@{/games/{gameId}/players(gameId=${game.id})}" class="list-group-item active">Players</a>
	                    <a href="#" class="list-group-item">Small Talk</a>
	                </div>
	            </div>
	            
	            <div class="col-md-9">
	            	<div class="container">
	            		<div class="row">
	            			<ul>
	            				<li th:each="user : ${game.users}">
	            				<div class="col-sm-5 col-lg-5 col-md-5">
									<div class="thumbnail">
										<div class="caption">
											<h4 class="pull-right" th:text="|Age? ${user.getAge()}|"></h4>
											<h4><a th:href="@{/users/{userId}(userId=${user.id})}"><span th:text="${user.userInfos.firstName}"/> <span th:text="${user.userInfos.lastName}"/></a></h4>
											<h4 th:text="|Height? ${user.userInfos.height}|"></h4>
											<h4 th:text="|Pref position? ${user.userInfos.position}|"></h4>
										</div>
										<p class="pull-right" th:text="|${user.opinions.size()} opinions|" />
										<div class="ratings">Social?
							                <span th:each="i : ${#numbers.sequence( 1, 5 )}">
							                	<span th:if="${i} &lt; ${user.getSocialRating()}" class="glyphicon glyphicon-star"></span>
							                	<span th:if="${i} == ${user.getSocialRating()}" class="glyphicon glyphicon-star"></span>
							                	<span th:if="${i} &gt; ${user.getSocialRating()}" class="glyphicon glyphicon-star-empty"></span>
							                </span>
			            				</div>
			            				<div class="ratings">Skills?
							                <span th:each="i : ${#numbers.sequence( 1, 5 )}">
							                	<span th:if="${i} &lt; ${user.getSkillRating()}" class="glyphicon glyphicon-star"></span>
							                	<span th:if="${i} == ${user.getSkillRating()}" class="glyphicon glyphicon-star"></span>
							                	<span th:if="${i} &gt; ${user.getSkillRating()}" class="glyphicon glyphicon-star-empty"></span>
							                </span>
			            				</div>
	            					</div>
	            				</div>
	            				</li>
	            			</ul>
	            		</div>
	            	</div>
	            </div>
			</div>
		</div>
	</body>
</html>