<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
		<meta charset="UTF-8"></meta>
		<style>
			body {
				padding-top: 50px;
			}
			.caption {
				height: 230px;
			}
		</style>
	</head>
	
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">43ForThree</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}" class="active">Home</a></li>
						<li><a th:href="@{/games}">Games</a></li>
						<li><a th:href="@{/users}">Users</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/me}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">            
	            <div class="col-md-9">
	            	<form th:action="@{/games/{gameId}/rate(gameId=${gameId})}" th:object="${opForm}" method="post">
	            		<ul>
	            			<li th:each="opinion, stat : ${opForm.getOpinionList()}">
	            				<div class="col-sm-6 col-lg-6 col-md-6">
	            					<div class="thumbnail">
	            						<div class="caption">
	            							<h4><a th:href="@{/users/{id}(id=${opinion.getWrittenTo().getId()})}" th:text="${opinion.writtenTo.username}"></a></h4>
		            						<h3 class="pull-right" th:text="|Age? ${opinion.writtenTo.getAge()}|"></h3>
											<h3><span th:text="${opinion.writtenTo.userInfos.firstName}"/> <span th:text="${opinion.writtenTo.userInfos.lastName}"/></h3>
											<h3 th:text="|Height? ${opinion.writtenTo.userInfos.height}|"></h3>
											<h3 th:text="|Pref position? ${opinion.writtenTo.userInfos.position}|"></h3>
											<div class="pull-right">
												<p>What about his social?</p>
												<input type="radio" class="rating-input" id="social-rating-input-1-5" th:field="*{opinionList[__${stat.index}__].socialRate}" th:value="1" />
												<label for="social-rating-input-1-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="social-rating-input-2-5" th:field="*{opinionList[__${stat.index}__].socialRate}" th:value="2" />
												<label for="social-rating-input-21-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="social-rating-input-3-5" th:field="*{opinionList[__${stat.index}__].socialRate}" th:value="3" />
												<label for="social-rating-input-3-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="social-rating-input-4-5" th:field="*{opinionList[__${stat.index}__].socialRate}" th:value="4" />
												<label for="social-rating-input-4-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="social-rating-input-5-5" th:field="*{opinionList[__${stat.index}__].socialRate}" th:value="5" />
												<label for="social-rating-input-5-5" class="rating-star "></label>
											</div>
											<div>
												<p>What about his skills?</p>
												<input type="radio" class="rating-input" id="skill-rating-input-1-5" th:field="*{opinionList[__${stat.index}__].skillRate}" th:value="1" />
												<label for="skill-rating-input-1-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="skill-rating-input-2-5" th:field="*{opinionList[__${stat.index}__].skillRate}" th:value="2" />
												<label for="skill-rating-input-21-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="skill-rating-input-3-5" th:field="*{opinionList[__${stat.index}__].skillRate}" th:value="3" />
												<label for="skill-rating-input-3-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="skill-rating-input-4-5" th:field="*{opinionList[__${stat.index}__].skillRate}" th:value="4" />
												<label for="skill-rating-input-4-5" class="rating-star "></label>
												<input type="radio" class="rating-input" id="skill-rating-input-5-5" th:field="*{opinionList[__${stat.index}__].skillRate}" th:value="5" />
												<label for="skill-rating-input-5-5" class="rating-star "></label>
											
											</div>
											<div class="text-center">
												<label for="opiniontext">Few words?</label>
												<input type="text" id="opiniontext" th:field="*{opinionList[__${stat.index}__].content}" />
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="text-center">
							<button type="submit" class="btn btn-primary btn-block">Send your opinion</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>