	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
        <link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
			#myprofile .list-group-item {
				width: 70%;
				color: silver;
			}
			#mygames .list-group-item {
				width: 70%;
				color: silver;
			}
			.caption {
				height: 200	px;
			}
        </style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">43ForThree</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/}" class="active">Home</a></li>
						<li><a th:href="@{/games}">Games</a></li>
						<li><a th:href="@{/users}">Users</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()"><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="@{/registration}"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/me}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
	
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<p class="lead" th:text="${user.username}"/> <!-- NAZWA GRY -->
					<div class="list-group">
						<a th:href="@{/users/{userId}(userId=${user.id})}" class="list-group-item">Profile</a>
	                    <a class="list-group-item active" data-toggle="collapse" data-target="#mygames">Games</a>
	                    <div id="mygames" class="list-group collapse">
	                    	<a th:href="@{/users/{userId}/futureGames(userId=${user.id})}" class="list-group-item">Future games</a>
	                    	<a th:href="@{/users/{userId}/pastGames(userId=${user.id})}" class="list-group-item">Past games</a>
	                    	<a th:href="@{/users/{userId}/requestedGames(userId=${user.id})}" class="list-group-item">Requested games</a>
	                    	<a th:href="@{/users/{userId}/requests(userId=${user.id})}" class="list-group-item">Requests to you</a>
	                    </div>
	                    <a th:href="@{/users/{userId}/opinions(userId=${user.id})}" class="list-group-item">Opinions</a>
	                    <a th:if="${#authentication.name == user.username}" class="list-group-item" data-toggle="collapse" data-target="#myprofile">Edit Profile</a>
	                    <div id="myprofile" class="list-group collapse">
	                    	<a th:href="@{/users/{userId}/settings(userId=${user.id})}" class="list-group-item">Edit personal info</a>
	                    	<a th:href="@{/users/changePassword}" class="list-group-item">Change password</a>
	                    </div>
	                </div>
	            </div>
	            
	            <div class="col-md-9">
	            	<div class="row">
	            		<ul>
	            			<li th:each="game : ${games}">
		            			<div class="col-sm-6">
									<div class="thumbnail">
										<div class="caption">
											<h4><a th:href="@{/games/{gameId}(gameId=${game.id})}" th:text="|Nazwa gry|"/></h4>
											<h4 th:text="${game.address}"></h4>
											<h4 th:text="${game.dateTime}"></h4>
											<h4 class="pull-right"><span th:text="${game.price}"> PLN</span></h4>
											<h4><span th:text="${game.slots}"> slots left!</span></h4>
											<div sec:authorize="isAuthenticated()" th:if="${#httpServletRequest.requestURI} == ${uri}">
			            						<div th:unless="${#lists.contains(user.ratedGamesId, game.id)}">
			            							<form th:action="@{/games/{gameId}/rate(gameId=${game.id})}">
			            								<button type="submit" class="btn btn-primary text-center">Rate this game</button>
							            			</form>
							            		</div>
						            		</div>
										</div>
		            				</div>
		            			</div>
	            			</li>
	            		</ul>
	            	</div>
	            </div>
			</div>
		</div>
	</body>
</html>