<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/registration.css}" href="/css/registration.css" type="text/css" rel="stylesheet" />
		<meta charset="UTF-8"></meta>
		<style>
			p {
				margin: 0;
			}
		</style>
	</head>
	<body>

		<div class="container">
			<form action="#" th:action="@{/users/{userId}/settings(userId=${userId})}" th:object="${details}" method="post" class="form-horizontal">
				<h2 class="form-heading">Informations about you!</h2>
				<div class="form-group">
					<label for="firstName" class="col-sm-3 control-label">First Name</label>
					<div class="col-sm-9">
						<input type="text" id="firstName" th:field="*{firstName}" th:placeholder="|First Name|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>				
					</div>
				</div>
				<div class="form-group">
					<label for="lastName" class="col-sm-3 control-label">Last Name</label>
					<div class="col-sm-9">
						<input type="text" id="lastName" th:field="*{lastName}" th:placeholder="|Last Name|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>					
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-3 control-label">Address</label>
					<div class="col-sm-9">
						<input type="text" id="address" th:field="*{address}" th:placeholder="Address" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>					
					</div>
				</div>
				<div class="form-group">
					<label for="height" class="col-sm-3 control-label">Height</label>
					<div class="col-sm-9">
						<input type="number" id="height" th:field="*{height}" th:placeholder="|Your height|" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"/>					
					</div>
				</div>
				<div class="form-group">
					<label for="position" class="col-sm-3 control-label">Position</label>
					<div class="col-sm-9">
						<input type="text" id="position" th:field="*{position}" th:placeholder="Position" class="form-control"/>
						<span class="label label-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"/>					
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-block">Edit!</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>