body {
 background-color: lightblue;
 font-family: rockwell;
}
label {
 display: inline-block;
 width: 120px;
 text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}

li {
    float: left;
    color: #ececec;
}

li a {
    display: block;
    color: #ececec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button {
    background-color: #000040;
    color: #ececec;
    padding: 8px 12px;
    margin: 6px 0;
    border: solid 0.1em #ececec;
    cursor: pointer;
    width: 7em;
    float: left;
}

button:hover {
	color: blue;
	border: solid 0.1em blue;
	border-left: solid 0.3em blue;
	border-right: solid 0.3em blue;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #8b0000;
}

.active {
    background-color: #ececec;
    color: black;
}