body {
	color: navy;
	background-color: lightblue;
	family-font: rockwell;
}

/* Bordered form */
form {
    border: 3px solid navy;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input::placeholder {
	color: navy;
}

/* Set a style for all buttons */
button {
    background-color: navy;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid 0.2em #ececec;
    cursor: pointer;
    width: 25%;
}

/* Add a hover effect for buttons */
button:hover {
	border: solid 0.2em blue;
	border-left: solid 0.4em blue;
	border-right: solid 0.4em blue;
    opacity: 0.9;
}

/* Add padding to containers */
.container {
    padding: 16px;
}