body {
	background-color: lightblue;
	family-font: rockwell;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid blue;
    box-sizing: border-box;
    color: navy;
}

input::placeholder {
	color: blue;
}
/* Set a style for all buttons */
button {
    background-color: #000040;
    color: #ececec;
    padding: 10px 16px;
    margin: 8px 0;
    border: solid 0.2em blue;
    cursor: pointer;
    width: 100%;
}

button:hover {
	color: blue;
	border: solid 0.2em #ececec;
	border-left: solid 0.4em #ececec;
	border-right: solid 0.4em #ececec;
}

/* Float cancel and signup buttons and add an equal width */
 .signupbtn {
    float: left;
    width: 40%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


input[type="datetime-local"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="datetime-local"]:focus:before {
  content: '' !important;
}