<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
        	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
        	rel="stylesheet" media="screen" />
		<link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<form action="#" th:action="@{/users/changePassword}" th:object="${passForm}" method="post" class="form-horizontal">
				<h2 class="form-heading">Change Your Ugly Password!</h2>
				<div class="form-group">
					<label for="oldpassword" class="col-sm-3 control-label">Old Password</label>
					<div class="col-sm-9">
						<input type="password" id="oldpassword" th:field="*{oldPassword}" th:placeholder="|Old Password|" class="form-control"/>
					</div>
					<p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"/>
				</div>
				<div class="form-group">
					<label for="newpassword" class="col-sm-3 control-label">New Password</label>
					<div class="col-sm-9">
						<input type="password" id="newpassword" th:field="*{newPassword}" th:placeholder="|New Password|" class="form-control"/>
					</div>
					<p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"/>
				</div>
				<div class="form-group">
					<label for="confirmpassword" class="col-sm-3 control-label">Confirm Password</label>
					<div class="col-sm-9">
						<input type="password" id="confirmpassword" th:field="*{confirmPassword}" th:placeholder="|Confirm Password|" class="form-control"/>
					</div>
					<p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"/>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-block">Change Password</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>