<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" type="text/css"
				href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
		<link th:href="@{/css/custom.css}" href="/css/custom.css" type="text/css" rel="stylesheet" />
		<style>
			input[type="email"] {
				margin-bottom: -1px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				width: 50%;
			}
		</style>
		
	</head>
	<body>
		<div class="container">
			<form th:action="@{/resetPassword}" method="get" class="form-horizontal">
			<h4>Enter your email address and check your mailbox!</h4>
				<div class="form-group">
					<label for="email" class="col-sm-3 control-label">Email:</label>
					<div class="col-sm-9">
						<input type="email" id="email" th:name="email" th:placeholder="|Your email address|" class="form-control" th:autofocus="true"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>