<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<meta charset="UTF-8"></meta>
	</head>
<body>
    <h1 th:text="${param.message[0]}">Error Message</h1>
    <a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">signup</a>
</body>
</html>